body{
  background-color:#EA899A;
  font-family: Arial, Helvetica, sans-erif;
}

nav{
    background: lightpink;
    height: 35px;
}
nav ul li{
  
  list-style: none;
  list-style-type: disc;
  float: left;
  margin: 10px;
}
header{
  width: 70%;
  margin: 0px auto;
  color: rgb(255,51,0);
  text-align: center;
  line-height: 100px;
}

#container{
  width: 70%;
  margin: 0px auto;

}

#foto{
    height: 20%;
    width: auto;
    margin: 0px;
}

.article{

}
img.pequeña{
    width: 50px;
    height: 50px;
  }
  img.mediana{
    width: 200px;
    height: 180px;
  }
  img.grande{
    width: 200px;
    height: 200px;
  }
