body{
  background-color:#EA899A;
  font-family: Arial, Helvetica, sans-erif;
}

#container{
  width: 70%;
  margin: 0px auto;

}


.article{

}

header{
  margin: 0px auto;
  color: rgb(255,51,0);
}
